
@font-face {
    font-family: Anton ;
    src: url(./webfontkit-20220110-152016/anton-regular-webfont.woff);
}

body {
    background-color: #0E0B08;
    color: antiquewhite;
    font-family: Anton;
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 5px black;
    text-shadow: 0px 5px 0px black;
    position: relative;
    width: 100%;
    height: 8em;
}

#win-div{
    height: 0em;
    margin-top: 2em;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50em;
}

.players {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
}


#player-img{
    border: solid 5px #1F2937;
    padding: 5px;
    background-color: #0E0B08;
}

#com-img{
    border: solid 5px #1F2937;
    padding: 5px;
    background-color: #0E0B08;
}

img {
    display: block;
    width: 250px;
    height: 300px;
    margin-left: 0px;
    margin-bottom: 30px;
}

.buttons {
 padding-left: 0px;
}

button {
    display: inline-block;
    border: solid 3px #1F2937;
    background-color: #0E0B08;
    padding: 15px;
    margin: 10px;
    align-items: center;
    align-content: center;
    align-content: center;
    transition: box-shadow linear 0.15s;
}

.playerButtons:hover{
    background-color: #737982;
    transition:background-color 0.4s;
    cursor: pointer;
    
}

#com button{
    cursor: not-allowed;
}

button img {
    width: 80px;
    height: 80px;
}


#info {
    display: flex;
    align-items: center;
    justify-content: top;
    margin-top: -1%;
    flex-direction: column;
    width: 20em;
    font-size: 25px;
    flex-shrink: 0;
    margin-bottom: 7em;
}

#results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    font-size: 50px;
}

#results p{
    margin: 5px;
}

#win-announcment{
    font-size: 40px;
}

#round-winner{
    height: 1em;
}

footer{
    background-color: #1F2937;
    display: flex;
    width: 100%;
    height: 5em;
    bottom: 0px;
    align-items: center;
    font-size: 18px;
}

footer a {
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
    font-size: 12px;
}

#reference{
    text-align: center;
    float: left;
    width: 100%;
    margin: 0 auto;
}

#creator {
    text-align: center;
    float:center;
    width: 100%;
    margin: 0 auto;
}

#about-me{
    float: right;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#status{
    display: inline-flex;
    gap: 5em;
    overflow:visible;
}

#status img{
    width: 3.5em;
    height: 3.5em;
}

.pick{
  box-shadow:
    0 0 15px 0px #fff, 
    0 0 15px 0px #1F2937, 
    0 0 15px 0px #1F2937;
    
}

.tie{
    color: yellow;
}

.win {
    color: green;
}

.lose{
    color: red;
}

.winPic{
    animation: rotation 2.5s infinite linear;
    position: relative;
    margin: auto;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
}

.winPicBackground{
    background-color: green;
    border-radius: 100%;
    top: -15px;
    box-shadow:
    0px 0px 15px 20px green, 
    0 0 15px 20px green, 
    0 0 15px 20px green;
    transition: 0.2s;
    overflow: visible;
    display: flex;
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
}

.modal-content {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    width: 70%;
    height: 70%;
    align-items: center;
    justify-content: center;
    font-size: 50px;

}

#retry{
    background-color: transparent;
    border: transparent;
}

#retry-img{
    filter: invert(100%);
    cursor: pointer;
}

#modal-img{
    z-index: 1;
    position: relative;
}

#modal-img-div{
    position: relative;
}

#modal-img-background{
    background-color: green;
    box-shadow:
    0 0 25px 20px green, 
    0 0 15px 20px green, 
    0 0 15px 20px green;
    border-radius: 50%;
    animation: beat 3.5s infinite linear;
    position:absolute;
    top: -10px;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.github {
    animation: rotation360 3s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(60deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-60deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes rotation360{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes beat {
    from{
        transform: scale(0.75);
    }
    50%{
        transform: scale(1);
    }
    to{
        transform: scale(0.75);
    }
}